<%= simple_form_for(@subscription_request, url: subscription_request_index_path(@subscription_request)) do |f| %>
  <div class="row z-depth-5 form-card">
      <div class="input-field col s12 m8 offset-m2">

        <%= f.input :last_name, class:'validate' %>
      </div>

      <div class="input-field col s12 m8 offset-m2">
        <%= f.input :first_name, class:'validate' %>
      </div>


      <div class="input-field col s12 m8 offset-m2">
        <%= f.input :email, type: 'email', class:'validate' %>
      </div>

      <div class="input-field col s12 m8 offset-m2">
        <%= f.input :company %>
      </div>

      <div class="input-field col s12 m8 offset-m2">
        <%= f.input :prospecting_area %>
      </div>

      <div class="actions center-align col s12 m8 offset-m2">
        <a class="waves-effect waves-light btn padding-10"><%= f.submit "Je demande un accès" %></a>
      </div>

      <div class="col s12 m8 offset-m2 sub-form-links">
        <%= link_to "Se connecter", new_session_path(resource_name) %><br />
      </div>
    <% end %>
  </div>
</div>
