
<div class="home-wrapper"></div>

<div class="hp-content">
  <div class="row sisi">
   <div class="col m12 l5 ">
     <h1 class='h1'>Simplifiez-vous la prospection CHR.</h1>
      <h2 class='h2'>Accèdez aux menus de <span class="special-word">milliers de restaurants</span> et <span class="special-word">optimisez</span> votre prospection.</h2>
   </div>
   <div class="col s7 content-right mobile-hidden"><%= image_tag("business-green.svg") %></div>
 </div>

  <div class="row">
    <div class="text-centered">
      <h2 class="sous-titre">Un service dédié aux chefs de secteur CHR</h2>
      <h4 class="sous-sous-titre">Visualiser des centaines de menus de restaurants de votre secteur.</h4>
      <div class="three-points col s12">
        <div class="col s4 picto">
          <%= image_tag("clock.png") %>
          <p>Optimisez votre prospection</p>
        </div>
        <div class="col s4 picto">
          <%= image_tag("vegetables.png") %>
          <p>Recherchez par produit</p>
        </div>
        <div class="col s4 picto">
          <%= image_tag("structure.png") %>
          <p>Une base de donnée unique</p>
        </div>
      </div>
    </div>
  </div>

  <div class="three-points-details">

    <div class="point">
      <div class="point-content">
        <div class="three-points">
          <%= image_tag("clock.png") %>
          <p class="title-points">Optimisez votre prospection.</p>
        </div>
        <p class="point-sous-titre">Ne trouvez plus vos clients par hasard.</p>
        <p class="sous-sous-titre"><span class="special-word">Gagnez du temps </span> pour votre prospection: toute les informations sur les établissements de votre secteur sont centralisés et en un coup d'oeil vous savez quelles portes pousser !</p>
      </div>

      <div class="point-content">
        <div class="img-point odd mobile-hidden"><%= image_tag("rocket.svg") %></div>
      </div>
    </div>

<!-- second part -->

    <div class="point">
      <div class="point-content">
        <div class="img-point even mobile-hidden"><%= image_tag("chef.svg") %></div>
      </div>

      <div class="point-content">
        <div class="three-points">
          <%= image_tag("vegetables.png") %>
          <p class="title-points">Recherchez par produit.</p>
        </div>
        <p class="point-sous-titre">Vendez vos produits.</p>
        <p class="sous-sous-titre">Vous avez un stock de langouste, de cèpe ou de jambon ? Filtrez les restaurants de votre secteur qui en propose dans leur menu et <span class="special-word">concluez la vente.</span></p>
      </div>
    </div>

    <!-- three part -->

    <div class="point">
      <div class="point-content">
        <div class="three-points">
          <%= image_tag("structure.png") %>
          <p class="title-points">Une base de donnée unique.</p>
        </div>
        <p class="point-sous-titre">Des milliers d'informations à votre disposition.</p>
        <p class="sous-sous-titre">Nous mettons à votre disposition les menus de plus de <span class="special-word">5000</span> établissements qui représentent <span class="special-word">240 000</span> plats. Chaque semaine de nouveaux restaurants sont référencés.</p>
      </div>

      <div class="point-content">
        <div class="img-point odd mobile-hidden"><%= image_tag("square.svg") %></div>
      </div>
    </div>
  </div>

</div>



<div class="footer">
  <div class="section">
    <p class="titre-footer">MenuApp</p>
    <p class="title-points">Ici on simplifie la vie des chefs de secteur CHR en améliorant leur visibilité sur leur zone de prospection.</p>
  </div>
  <div class="section">
    <p class="sous-sous-titre"></p>
  </div>
</div>
