<div class="col s12">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="row z-depth-5 form-card">
        <div class="input-field col s12 m8 offset-m2">
          <label for="email">Email</label>
          <%= f.email_field :email, type: 'email', class:'validate' %>
          <span class="helper-text" data-error="Veuillez rentrer un format d'email valide"></span>
        </div>

        <div class="input-field col s12 m8 offset-m2">
          <label for="password">Mot de passe</label>
          <%= f.password_field :password %>
        </div>

        <div class="col s12 m8 offset-m2">
          <label>
            <%= f.check_box :remember_me, class:"filled-in" %>
            <span class='medium-hint'>Se souvenir de moi</span>
          </label>
        </div>

        <div class="actions center-align col s12 m8 offset-m2">
          <a class="waves-effect waves-light btn padding-10"><%= f.submit "Se connecter" %></a>
        </div>

        <div class="col s12 m8 offset-m2 sub-form-links">
          <%= link_to "Pas encore inscrit ?", new_registration_path(resource_name) %><br />
          <%= link_to "Mot de passe oublié ?", new_password_path(resource_name) %><br />
      </div>
      <% end %>
    </div>
</div>
